/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  background-color: transparent; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* Variable de la grille */
body {
  font-family: "Arial", "Verdana"; }
  @media screen and (max-width: 480px) {
    body {
      font-size: 0.8rem; } }

hr {
  margin-bottom: 30px; }

/*
    TITRE
*/
h1, h2, h3, h4, h5, h6 {
  color: #7B2C96;
  line-height: 1.5em;
  margin: 10px 18px; }

h1 {
  font-size: 2.1rem;
  font-weight: bold; }

h2 {
  font-size: 1.9rem;
  font-weight: bold; }

h3 {
  font-size: 1.6rem; }

h4 {
  font-size: 1.4rem; }

h5 {
  font-size: 1.1rem; }

h6 {
  font-size: 0.9rem; }

/*
    SOUS-TITRE
*/
h1 small, h1.sub, h2 small, h2.sub, h3 small, h3.sub, h4 small, h4.sub, h5 small, h5.sub, h6 small, h6.sub {
  opacity: 0.8; }

h1 small,
h1.sub {
  font-size: 1.9rem; }

h2 small,
h2.sub {
  font-size: 1.7rem; }

h3 small,
h3.sub {
  font-size: 1.5rem; }

h4 small,
h4.sub {
  font-size: 1.3rem; }

h5 small,
h5.sub {
  font-size: 1.1rem; }

h6 small,
h6.sub {
  font-size: 0.8rem; }

/*
    PARAGRAPHE
*/
p {
  margin: 15px 7px;
  line-height: 1.2rem; }

/*
    BALISE DE TEXTE
*/
mark {
  color: red;
  font-weight: bold; }

del {
  opacity: 0.4;
  text-decoration: line-through; }

ins {
  font-weight: bold;
  text-decoration: underline; }

u {
  text-decoration: underline; }

strong {
  font-weight: bold; }

em {
  font-style: italic; }

abbr {
  font-style: italic; }
  abbr:hover {
    color: #CCCCCC; }

/*
    QUOTE & BLOCKQUOTE
*/
code {
  background-color: #F5D9FF;
  color: #7B2C96;
  font-weight: 500; }

blockquote {
  display: block;
  border-left: #696969 solid 6px;
  margin: 10px 7px;
  padding: 7px; }

pre {
  display: block;
  border: grey solid 1px;
  border-left: #7B2C96 solid 5px;
  border-radius: 10px;
  background-color: #CCCCCC;
  white-space: pre;
  padding: 12px 6px;
  margin: 15px 7px;
  overflow: auto;
  clear: left; }
  pre > code {
    background: none; }

.exemple {
  margin: 12px 7px;
  border: 1px solid #7B2C96;
  border-radius: 10px;
  box-shadow: 2px 2px 2px #5b206f;
  margin-bottom: 14px; }
  @media screen and (min-width: 768px) {
    .exemple div {
      padding: 10px 18px; } }
  @media screen and (max-width: 768px) {
    .exemple div {
      padding: 5px 2px; } }

kbd {
  color: #fff;
  background-color: #7B2C96;
  padding: 1px 3px;
  border-radius: 4px; }

ul {
  margin: 18px 7px;
  line-height: 1.2em; }
  ul > li {
    margin-left: 35px;
    margin-bottom: 5px;
    margin-top: 5px;
    list-style-type: circle; }
  ul.square > li {
    list-style-type: square; }
  ul.unstyled > li {
    list-style-type: none; }

.align-gauche {
  text-align: left; }

.align-droite {
  text-align: right; }

.align-centre {
  text-align: center; }

.align-justifie {
  text-align: justify; }

.to-maj {
  text-transform: uppercase; }

.to-min {
  text-transform: lowercase; }

@media screen and (max-width: 480px) {
  table {
    margin: 0;
    width: 100%;
    max-width: 100%; }
    table > tbody > tr {
      text-align: center;
      border: solid grey 1px; }
      table > tbody > tr > th {
        font-weight: bold;
        background-color: #CCCCCC;
        padding: 10px 0px;
        border: solid grey 1px; }
      table > tbody > tr > td {
        padding: 10px 0px;
        border: solid grey 1px; } }
@media screen and (min-width: 480px) {
  table {
    margin: 15px 7px;
    overflow: auto; }
    table > tbody > tr {
      text-align: center;
      border: solid grey 1px; }
      table > tbody > tr > th {
        font-weight: bold;
        background-color: #CCCCCC;
        padding: 10px 20px;
        border: solid grey 1px; }
      table > tbody > tr > td {
        padding: 10px 20px;
        border: solid grey 1px; } }

table.alternate {
  border: solid grey 1px; }
  table.alternate > tbody > tr > th {
    background-color: black;
    color: white;
    border: none; }
  table.alternate > tbody > tr > td {
    border: none; }
  table.alternate > tbody > tr:nth-child(2n) > td {
    background-color: #CCCCCC; }

table.complete > tbody > tr, table.complete > tbody > tr > td, table.complete > tbody > tr > th {
  border-width: 8px; }

table.hover > tbody > tr:hover > td {
  background-color: #F5D9FF;
  color: #7B2C96; }

button {
  font-size: 1em; }

.btn {
  border: solid grey 1px;
  border-radius: 10px;
  padding: 10px 20px;
  margin: 5px 5px;
  background-color: grey;
  color: white;
  text-decoration: none;
  box-shadow: -1px 2px 3px 1px rgba(0, 0, 0, 0.7);
  display: inline-block;
  cursor: pointer;
  text-align: center;
  box-sizing: border-box; }
  .btn:hover, .btn:focus {
    background-color: #676767; }
  .btn:active {
    background-color: #9a9a9a; }
  .btn.btn-large {
    padding: 15px 30px;
    font-weight: bold;
    margin-top: 8px;
    margin-bottom: 8px;
    line-height: 1.2rem; }
  .btn.btn-small {
    margin: 2px;
    padding: 5px 10px;
    line-height: 0.9rem; }
  .btn.btn-xtra-large {
    display: block;
    width: 100%;
    margin-left: 7px;
    margin-right: 7px; }
  .btn.btn-flat {
    border: none;
    border-radius: 0;
    box-shadow: none; }
  .btn.btn-blue {
    background-color: blue;
    color: white; }
    .btn.btn-blue:hover, .btn.btn-blue:focus {
      background-color: #0000cc; }
    .btn.btn-blue:active {
      background-color: #3333ff; }
  .btn.btn-red {
    background-color: red;
    color: white; }
    .btn.btn-red:hover, .btn.btn-red:focus {
      background-color: #cc0000; }
    .btn.btn-red:active {
      background-color: #ff3333; }
  .btn.btn-yellow {
    background-color: yellow;
    color: black; }
    .btn.btn-yellow:hover, .btn.btn-yellow:focus {
      background-color: #cccc00; }
    .btn.btn-yellow:active {
      background-color: #ffff33; }
  .btn.btn-fancy {
    border: solid black 2px;
    border-radius: 25px;
    box-shadow: -1px 5px 10px 1px rgba(0, 0, 0, 0.7), 0px -8px 20px rgba(255, 255, 255, 0.7) inset; }
    .btn.btn-fancy:hover {
      box-shadow: -1px 5px 10px 1px rgba(0, 0, 0, 0.7), 0px -8px 20px rgba(255, 255, 255, 0.3) inset; }

.alert {
  display: block;
  border: 1px solid;
  border-radius: 4px;
  padding: 18px;
  margin: 7px 7px; }
  .alert.alert-danger {
    background-color: #FF8686;
    color: #8C0300;
    border-color: #8C0300; }
  .alert.alert-success {
    background-color: #69E78E;
    color: #25743C;
    border-color: #25743C; }
  .alert.alert-information {
    background-color: #5BC0DE;
    color: #276172;
    border-color: #276172; }
  .alert.alert-avertissement {
    background-color: #FFDB74;
    color: #806826;
    border-color: #806826; }

.header {
  display: block;
  color: #985CAD;
  background: #490063;
  padding: 10px;
  text-shadow: 1px 3px black; }
  .header a {
    color: #985CAD;
    background: #490063;
    text-decoration: none; }
  .header .title {
    display: block;
    font-size: 4rem;
    font-weight: bold; }
  .header .subtitle {
    display: inline-block;
    padding-left: 12px;
    font-size: 2rem;
    font-style: oblique; }

@media screen and (min-width: 768px) {
  .jumbotron {
    margin: 7px 7px;
    padding: 20px;
    background-color: #BCBCBC;
    border-radius: 7px;
    text-align: center;
    min-width: 25em; } }
@media screen and (min-width: 480px) {
  .jumbotron {
    margin: 7px 7px;
    padding: 20px;
    background-color: #BCBCBC;
    border-radius: 7px;
    text-align: center;
    min-width: 16em; } }
@media screen and (max-width: 480px) {
  .jumbotron {
    padding: 15px;
    background-color: #BCBCBC;
    border-radius: 7px;
    text-align: center;
    min-width: 16em; } }

ul {
  margin: 0px;
  line-height: 1.3em; }
  ul.navbar {
    display: block;
    border-top: 1px solid #985CAD;
    border-bottom: 1px solid #985CAD;
    margin: 7px 7px;
    min-height: 40px; }
    ul.navbar > li {
      margin: 0px -0.12em;
      margin-right: -3px;
      padding: 0px;
      height: 100%;
      display: inline-block; }
      ul.navbar > li > a {
        display: block;
        padding: 10px 17px;
        color: black;
        text-decoration: none; }
      ul.navbar > li.active, ul.navbar > li.active:hover {
        background: #c3a0cf;
        color: black; }
      ul.navbar > li.disabled, ul.navbar > li.disabled:hover {
        background: white;
        cursor: not-allowed; }
        ul.navbar > li.disabled > a, ul.navbar > li.disabled:hover > a {
          color: #BCBCBC; }
      ul.navbar > li:hover {
        background: #985CAD; }
        ul.navbar > li:hover > a {
          color: white; }
  ul.breadcrumb {
    margin-left: 6%;
    font-size: 0.8rem;
    color: grey; }
    ul.breadcrumb > li {
      display: inline-block;
      margin: 0px; }
      ul.breadcrumb > li > a {
        color: grey;
        text-decoration: none; }
      ul.breadcrumb > li:nth-child(n+2)::before {
        content: ">";
        margin: 0 10px; }
  ul.pagination {
    margin: 7px; }
    ul.pagination > li {
      display: inline-block;
      list-style-type: none;
      margin: 0; }
      ul.pagination > li > a {
        text-decoration: none;
        color: white;
        background-color: #7B2C96;
        border-radius: 5px;
        padding: 5px 7px; }
      ul.pagination > li.active > a {
        background-color: white;
        border: 1px solid #7B2C96;
        color: #7B2C96; }

.dropdown {
  position: fixed;
  right: 10px;
  top: 20px;
  z-index: 2000; }
  .dropdown > .dropdown-menu {
    position: fixed;
    top: 45px;
    right: 10px;
    background-color: #F5D9FF; }
    @media screen and (max-width: 480px) {
      .dropdown > .dropdown-menu {
        display: none; } }
    .dropdown > .dropdown-menu li {
      list-style: none;
      margin: 0; }
      .dropdown > .dropdown-menu li a {
        padding: 5px 20px;
        text-decoration: none;
        color: black;
        display: block; }
        .dropdown > .dropdown-menu li a:hover, .dropdown > .dropdown-menu li a:focus {
          color: white; }
    .dropdown > .dropdown-menu:hover, .dropdown > .dropdown-menu:focus {
      display: block; }
  .dropdown > a.dropdown-title {
    cursor: pointer;
    background-color: #490063;
    border: 2px solid #F5D9FF;
    color: white;
    padding: 10px; }
    .dropdown > a.dropdown-title:hover, .dropdown > a.dropdown-title:focus {
      background-color: #F5D9FF;
      padding: 10px; }
      .dropdown > a.dropdown-title:hover + ul.dropdown-menu, .dropdown > a.dropdown-title:focus + ul.dropdown-menu {
        display: block; }
  @media screen and (min-width: 479px) {
    .dropdown {
      display: none; } }

.dropdown-exemple {
  display: inline-block;
  position: inherit;
  top: inherit;
  right: inherit; }
  .dropdown-exemple > .dropdown-menu {
    display: none;
    position: relative;
    top: 12px;
    right: 32px; }
    .dropdown-exemple > .dropdown-menu:hover, .dropdown-exemple > .dropdown-menu:focus {
      display: block; }
  .dropdown-exemple > a.dropdown-title:hover, .dropdown-exemple > a.dropdown-title:focus {
    background-color: #F5D9FF;
    padding: 10px; }
    .dropdown-exemple > a.dropdown-title:hover + ul.dropdown-menu, .dropdown-exemple > a.dropdown-title:focus + ul.dropdown-menu {
      display: block; }

@media screen and (max-width: 480px) {
  .hide-sm {
    display: none !important; } }

.container {
  max-width: 940px;
  display: block;
  margin: 15px auto;
  border: solid 1px black;
  box-shadow: 3px 3px 3px black; }

.row {
  display: block;
  margin-top: 12px;
  margin-bottom: 12px;
  clear: left;
  overflow: hidden; }
  .row + div {
    clear: left; }
  @media screen and (min-width: 768px) {
    .row [class*="offset-1"]:first-child {
      clear: left;
      margin-left: 12.875%; }
    .row [class="span-1"]:first-child {
      clear: left;
      margin-left: 0.5%; } }
  @media screen and (min-width: 768px) {
    .row [class*="offset-2"]:first-child {
      clear: left;
      margin-left: 25.25%; }
    .row [class="span-2"]:first-child {
      clear: left;
      margin-left: 0.5%; } }
  @media screen and (min-width: 768px) {
    .row [class*="offset-3"]:first-child {
      clear: left;
      margin-left: 37.625%; }
    .row [class="span-3"]:first-child {
      clear: left;
      margin-left: 0.5%; } }
  @media screen and (min-width: 768px) {
    .row [class*="offset-4"]:first-child {
      clear: left;
      margin-left: 50%; }
    .row [class="span-4"]:first-child {
      clear: left;
      margin-left: 0.5%; } }
  @media screen and (min-width: 768px) {
    .row [class*="offset-5"]:first-child {
      clear: left;
      margin-left: 62.375%; }
    .row [class="span-5"]:first-child {
      clear: left;
      margin-left: 0.5%; } }
  @media screen and (min-width: 768px) {
    .row [class*="offset-6"]:first-child {
      clear: left;
      margin-left: 74.75%; }
    .row [class="span-6"]:first-child {
      clear: left;
      margin-left: 0.5%; } }
  @media screen and (min-width: 768px) {
    .row [class*="offset-7"]:first-child {
      clear: left;
      margin-left: 87.125%; }
    .row [class="span-7"]:first-child {
      clear: left;
      margin-left: 0.5%; } }
  @media screen and (min-width: 768px) {
    .row [class*="offset-8"]:first-child {
      clear: left;
      margin-left: 99.5%; }
    .row [class="span-8"]:first-child {
      clear: left;
      margin-left: 0.5%; } }

.grille-affiche [class^="span-"] {
  border: 1px solid #7B2C96; }

.span-1 {
  width: 12.375%;
  display: inline-block;
  padding-left: 1%;
  padding-right: 1%;
  vertical-align: top;
  box-sizing: border-box;
  float: left; }

.span-2 {
  width: 24.75%;
  display: inline-block;
  padding-left: 1%;
  padding-right: 1%;
  vertical-align: top;
  box-sizing: border-box;
  float: left; }

.span-3 {
  width: 37.125%;
  display: inline-block;
  padding-left: 1%;
  padding-right: 1%;
  vertical-align: top;
  box-sizing: border-box;
  float: left; }

.span-4 {
  width: 49.5%;
  display: inline-block;
  padding-left: 1%;
  padding-right: 1%;
  vertical-align: top;
  box-sizing: border-box;
  float: left; }

.span-5 {
  width: 61.875%;
  display: inline-block;
  padding-left: 1%;
  padding-right: 1%;
  vertical-align: top;
  box-sizing: border-box;
  float: left; }

.span-6 {
  width: 74.25%;
  display: inline-block;
  padding-left: 1%;
  padding-right: 1%;
  vertical-align: top;
  box-sizing: border-box;
  float: left; }

.span-7 {
  width: 86.625%;
  display: inline-block;
  padding-left: 1%;
  padding-right: 1%;
  vertical-align: top;
  box-sizing: border-box;
  float: left; }

.span-8 {
  width: 99%;
  display: inline-block;
  padding-left: 1%;
  padding-right: 1%;
  vertical-align: top;
  box-sizing: border-box;
  float: left; }

@media screen and (min-width: 769px) {
  .offset-1 {
    margin-left: 12.375%;
    display: inline-block;
    box-sizing: border-box;
    float: left; } }

@media screen and (min-width: 769px) {
  .offset-2 {
    margin-left: 24.75%;
    display: inline-block;
    box-sizing: border-box;
    float: left; } }

@media screen and (min-width: 769px) {
  .offset-3 {
    margin-left: 37.125%;
    display: inline-block;
    box-sizing: border-box;
    float: left; } }

@media screen and (min-width: 769px) {
  .offset-4 {
    margin-left: 49.5%;
    display: inline-block;
    box-sizing: border-box;
    float: left; } }

@media screen and (min-width: 769px) {
  .offset-5 {
    margin-left: 61.875%;
    display: inline-block;
    box-sizing: border-box;
    float: left; } }

@media screen and (min-width: 769px) {
  .offset-6 {
    margin-left: 74.25%;
    display: inline-block;
    box-sizing: border-box;
    float: left; } }

@media screen and (min-width: 769px) {
  .offset-7 {
    margin-left: 86.625%;
    display: inline-block;
    box-sizing: border-box;
    float: left; } }

@media screen and (max-width: 768px) {
  .span-md-1 {
    width: 12.375%;
    display: inline-block;
    padding-left: 1%;
    padding-right: 1%;
    vertical-align: top;
    box-sizing: border-box;
    float: left; } }

@media screen and (max-width: 768px) {
  .span-md-2 {
    width: 24.75%;
    display: inline-block;
    padding-left: 1%;
    padding-right: 1%;
    vertical-align: top;
    box-sizing: border-box;
    float: left; } }

@media screen and (max-width: 768px) {
  .span-md-3 {
    width: 37.125%;
    display: inline-block;
    padding-left: 1%;
    padding-right: 1%;
    vertical-align: top;
    box-sizing: border-box;
    float: left; } }

@media screen and (max-width: 768px) {
  .span-md-4 {
    width: 49.5%;
    display: inline-block;
    padding-left: 1%;
    padding-right: 1%;
    vertical-align: top;
    box-sizing: border-box;
    float: left; } }

@media screen and (max-width: 768px) {
  .span-md-5 {
    width: 61.875%;
    display: inline-block;
    padding-left: 1%;
    padding-right: 1%;
    vertical-align: top;
    box-sizing: border-box;
    float: left; } }

@media screen and (max-width: 768px) {
  .span-md-6 {
    width: 74.25%;
    display: inline-block;
    padding-left: 1%;
    padding-right: 1%;
    vertical-align: top;
    box-sizing: border-box;
    float: left; } }

@media screen and (max-width: 768px) {
  .span-md-7 {
    width: 86.625%;
    display: inline-block;
    padding-left: 1%;
    padding-right: 1%;
    vertical-align: top;
    box-sizing: border-box;
    float: left; } }

@media screen and (max-width: 768px) {
  .span-md-8 {
    width: 99%;
    display: inline-block;
    padding-left: 1%;
    padding-right: 1%;
    vertical-align: top;
    box-sizing: border-box;
    float: left; } }

@media screen and (min-width: 480px) and (max-width: 768px) {
  .offset-md-1 {
    margin-left: 12.375%;
    display: inline-block;
    box-sizing: border-box;
    float: left; } }

@media screen and (min-width: 480px) and (max-width: 768px) {
  .offset-md-2 {
    margin-left: 24.75%;
    display: inline-block;
    box-sizing: border-box;
    float: left; } }

@media screen and (min-width: 480px) and (max-width: 768px) {
  .offset-md-3 {
    margin-left: 37.125%;
    display: inline-block;
    box-sizing: border-box;
    float: left; } }

@media screen and (min-width: 480px) and (max-width: 768px) {
  .offset-md-4 {
    margin-left: 49.5%;
    display: inline-block;
    box-sizing: border-box;
    float: left; } }

@media screen and (min-width: 480px) and (max-width: 768px) {
  .offset-md-5 {
    margin-left: 61.875%;
    display: inline-block;
    box-sizing: border-box;
    float: left; } }

@media screen and (min-width: 480px) and (max-width: 768px) {
  .offset-md-6 {
    margin-left: 74.25%;
    display: inline-block;
    box-sizing: border-box;
    float: left; } }

@media screen and (min-width: 480px) and (max-width: 768px) {
  .offset-md-7 {
    margin-left: 86.625%;
    display: inline-block;
    box-sizing: border-box;
    float: left; } }

@media screen and (max-width: 480px) {
  .span-sm-1 {
    width: 12.375%;
    display: inline-block;
    padding-left: 1%;
    padding-right: 1%;
    vertical-align: top;
    box-sizing: border-box;
    float: left; } }

@media screen and (max-width: 480px) {
  .span-sm-2 {
    width: 24.75%;
    display: inline-block;
    padding-left: 1%;
    padding-right: 1%;
    vertical-align: top;
    box-sizing: border-box;
    float: left; } }

@media screen and (max-width: 480px) {
  .span-sm-3 {
    width: 37.125%;
    display: inline-block;
    padding-left: 1%;
    padding-right: 1%;
    vertical-align: top;
    box-sizing: border-box;
    float: left; } }

@media screen and (max-width: 480px) {
  .span-sm-4 {
    width: 49.5%;
    display: inline-block;
    padding-left: 1%;
    padding-right: 1%;
    vertical-align: top;
    box-sizing: border-box;
    float: left; } }

@media screen and (max-width: 480px) {
  .span-sm-5 {
    width: 61.875%;
    display: inline-block;
    padding-left: 1%;
    padding-right: 1%;
    vertical-align: top;
    box-sizing: border-box;
    float: left; } }

@media screen and (max-width: 480px) {
  .span-sm-6 {
    width: 74.25%;
    display: inline-block;
    padding-left: 1%;
    padding-right: 1%;
    vertical-align: top;
    box-sizing: border-box;
    float: left; } }

@media screen and (max-width: 480px) {
  .span-sm-7 {
    width: 86.625%;
    display: inline-block;
    padding-left: 1%;
    padding-right: 1%;
    vertical-align: top;
    box-sizing: border-box;
    float: left; } }

@media screen and (max-width: 480px) {
  .span-sm-8 {
    width: 99%;
    display: inline-block;
    padding-left: 1%;
    padding-right: 1%;
    vertical-align: top;
    box-sizing: border-box;
    float: left; } }

@media screen and (max-width: 480px) {
  .offset-sm-1 {
    margin-left: 12.375%;
    display: inline-block;
    box-sizing: border-box;
    float: left; } }

@media screen and (max-width: 480px) {
  .offset-sm-2 {
    margin-left: 24.75%;
    display: inline-block;
    box-sizing: border-box;
    float: left; } }

@media screen and (max-width: 480px) {
  .offset-sm-3 {
    margin-left: 37.125%;
    display: inline-block;
    box-sizing: border-box;
    float: left; } }

@media screen and (max-width: 480px) {
  .offset-sm-4 {
    margin-left: 49.5%;
    display: inline-block;
    box-sizing: border-box;
    float: left; } }

@media screen and (max-width: 480px) {
  .offset-sm-5 {
    margin-left: 61.875%;
    display: inline-block;
    box-sizing: border-box;
    float: left; } }

@media screen and (max-width: 480px) {
  .offset-sm-6 {
    margin-left: 74.25%;
    display: inline-block;
    box-sizing: border-box;
    float: left; } }

@media screen and (max-width: 480px) {
  .offset-sm-7 {
    margin-left: 86.625%;
    display: inline-block;
    box-sizing: border-box;
    float: left; } }

/*# sourceMappingURL=2sec.css.map */
